<a href="https://colab.research.google.com/github/DafhtineSantos/58002-OOP/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [ ]:
week = ["Sunday", "Monday","Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

For Loop using Break Statement

In [ ]:
for x in week:
  print(x)
  if x=="Thursday":
    break

To display only Thursday

In [ ]:
for x in week:
 if x=="Thursday":
  print(x)
  break

Range() Function

In [ ]:
for x in range(6):
  print(x)

Nested Loops

In [ ]:
adjective = ["Red", "Big", "Tasty"]
fruits=["Apple","Banana","Cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

In [ ]:
i = 1
while i<=6:
  print(i)
  i+=1

While Loop using Break statement

In [ ]:
i = 1
while i<=6:
  print(i)
  if i == 3:
    break
  i+=1

Display only 3

In [ ]:
i = 1
while i <= 6:
  if i ==3:
    print(i)
    break
  i+=1

Create a Python Program that displays

In [ ]:
x = 0
while x <= 10:
  print("Hello", x)
  x+=1